---
ingress:
- ports:
  - protocol: TCP
    port: 22
  - protocol: TCP
    port: 443
  - protocol: TCP
    port: 80
{% for port in ingress_ports | default([]) %}
  - protocol: TCP
    port: {{ port }}
{% endfor %}
egress:
- ports:
  - protocol: TCP
    port: 22
  - protocol: TCP
    port: 443
  - protocol: TCP
    port: 80
{% for port in egress_ports | default(ingress_ports | default([])) %}
  - protocol: TCP
    port: {{ port }}
{% endfor %}
